@media (prefers-color-scheme: light) {
    :root {
	--background-color: #e8e7e3;
	--softbox-color: #8a6c6c;
	--foreground-color: #222222;
	--link-color: blue;
	--link-vis-color: rebeccapurple;
	--emph-color: #116611;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
	--background-color: #222222;
	--softbox-color: #333333;
	--foreground-color: #e8e7e3;
	--link-color: cyan;
	--link-vis-color: rebeccapurple;
	--emph-color: #99ff99;
    }
}

body {
    font-family: monospace;
    color: var(--foreground-color);
    background-color: var(--background-color);
    max-width: 40em;
}

.box {
    border-width: 1px;
    border-style: solid;
    border-color: var(--foreground-color);
    border-radius: 8px;
    margin: 1em;
    padding: 1em;
}

.softbox {
    background: var(--softbox-color);
    border-radius: 8px;
    margin: 1em;
    padding: 1em;
    width: fit-content;
}

.linkbox::before {
    content: "=> ";
}

.shellbox > *::before {
    content: "$ ";
}

.indent {
    margin-left: 1em;
}

.list {
    list-style-type: none;
}

.bold {
    font-weight: bold;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-vis-color);
}

.bmtitle {
    font-weight: bold;
}

.bmtags {
    font-style: italic;
}

.keepws {
    white-space: pre;
}

em {
    color: var(--emph-color);
    font-style: normal;
    font-weight: bold;
}

code {
    color: var(--emph-color);
}

table {
    border-spacing: 1em 0px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

div {
    display: block;
}

.list {
    white-space: pre;
    white-space-collapse: preserve;
    text-wrap: nowrap;
}