* {
    margin: 0.2em;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: 400;
    padding-right: 8px;
    /* text-decoration: black; */
}

a,
a:visited {
    text-decoration: underline;
    color: inherit;

}

h1 {
    font-size: 16px;
    margin-left: -5px;
}

.container div {
    width: 100%;
    height: auto;
}

.container div:nth-child(1) {
    width: 100%;
    border-right: 100px;
}

.container div:nth-child(2) {
    width: 100%;
    background: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.img-center {
    float: left;
}

figcaption em b {
    margin-left: -3px;
}


@media screen and (min-width: 775px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    figure {
        display: table;
    }

    .img-center {
        text-align: center;

    }

    div figure {
        margin: 0px;
    }
}